<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="InstandexApp" ng-csp>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Coin Exchange</title>
    <link href="css/style.css" type="text/css" rel="stylesheet" />
    <link href="css/copay.css" type="text/css" rel="stylesheet" />
    <link href="css/foundation.css" type="text/css" rel="stylesheet" />
    <link href="css/app.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/ngDialog.min.css">
    <link rel="stylesheet" type="text/css" href="css/ngDialog-theme-default.min.css">
    <link rel="stylesheet" type="text/css" href="css/angular-accordion.css">
    
    <link rel="stylesheet" type="text/css" href="css/angular-csp.css">  

    <!-- <script src="js/jquery.min.js"></script> -->
    <script src="js/libs/angular.min.js"></script>
    <script src="js/libs/angular-ui-router.min.js"></script>
    <script src="js/libs/angular-route.min.js"></script>
    <script type="text/javascript" src="js/libs/angular-animate.min.js"></script>
    <script src="js/libs/ngDialog.min.js"></script>
    <script type="text/javascript" src="js/libs/angular-accordion.js"></script>
    <!-- <script type="text/javascript" src="js/libs/mm-foundation-tpls-0.8.0.min.js"></script> -->
    <!-- <script src="js/libs/foundation.min.js"></script> -->
    <script src="js/app.js"></script>
    <script type="text/javascript" src="js/controllers/coin_exchange_1by1_controller.js"></script>
    <script type="text/javascript" src="js/controllers/consolidate_coins_controller.js"></script>
    <script type="text/javascript" src="js/controllers/coin_exchange_controller.js"></script>
    <script type="text/javascript" src="js/controllers/exchange_overview_controller.js"></script>
    <script type="text/javascript" src="js/controllers/options_controller.js"></script>
    <script type="text/javascript" src="js/controllers/navigation_controller.js"></script>
    <script type="text/javascript" src="js/services/globalServices.js"></script>
    <script type="text/javascript" src="js/services/init.js"></script>
    <script type="text/javascript" src="js/services/storage.js"></script>
    <script type="text/javascript" src="js/services/instantdexServices.js"></script>

</head>
<body ng-cloak class="ng-cloak" data-custom-load="true" data-name="iguana" data-tools="pnacl newlib glibc clang-newlib mac" data-configs="Debug Release"
data-path="{tc}/{config}">
    <div class="fixed">
    <nav class="top-bar top-bar-01" data-topbar role="navigation" ng-controller="NavigationController">
    	<div class="row">
        	<div class="top-section small-12 columns">
                <ul class="title-area">
                    <li class="name">
                      <span class="logo-container"><h2><a ui-sref ="coin_exchange">Instantdex</a></h2></span>
                    </li>
                    <!--<li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>-->
                </ul>
                <section class="top-bar-section">
                    <ul class="menu">
                        <li ng-class="tabActive[0] ? 'active': ''" ng-click="setTabActive(0)"><a ui-sref ="coin_exchange">Home</a></li>
                        <li ng-class="tabActive[1] ? 'active': ''" ng-click="setTabActive(1)"><a ui-sref ="consolidate_coins">Consolidate Coins</a></li>
                        <li ng-class="tabActive[2] ? 'active': ''" ng-click="setTabActive(2)"><a ui-sref ="exchange_overview">Exchange Overview</a></li>
                        <li ng-class="tabActive[3] ? 'active': ''" ng-click="setTabActive(3)"><a ui-sref ="options">Options</a></li>
                    </ul>
                </section>
           	 </div>
        </div>
    </nav>
    </div>

    <div ui-view></div>
    
    <div id="listener"></div>
</body>

</html>
