<div ng-controller="CoinExchangeController">

<div class="row ">
<div class="header small-12 columns">
	<h1>Coin Exchange</h1>
	<div class="row">
    	<div class="top-part small-12 columns">
        	<div class="row">
                 <div class="left-part small-12 medium-8 large-8 columns">
                      <label>Pairing</label>
                      <select ng-options="coin as coin for coin in coinsValidExchanges | orderBy:'coin'" ng-model="coinType1" ng-change="coinsChanged()" title="Used as Base in exchange">
                          <option value="">Select Coin</option>
                      </select>
                      <span class="seprator">/</span>

                      <select ng-options="coin as coin for coin in coinsValidExchanges | orderBy:'coin'" ng-model="coinType2" ng-change="coinsChanged()" title="Used as Rel in exchange">
                          <option value="">Select Coin</option>
                      </select>

                      <span class="interchange-img">
                          <a href="#" ng-click="exchangeCoinsTypes($event)">
                              <i class="fa fa-exchange"></i>
                          </a>
                      </span>
                  </div>

                 <div class="right-part small-12 medium-4 large-4 columns">
                    <div class="top">
                        <h2>View</h2>
                        <ul class="combine-list">
                          <li>
                              <label>Combined</label>
                          </li>
                          <li>
                              <div class="switch round">
                                <input class="switch-input" id="switch" type="checkbox" name="switch" ng-model="combinedor1by1" ng-change="switchToCombinedOr1By1()">
                                <label class="switch-paddle" for="switch">
                                  <span class="show-for-sr">View</span>
                                </label>
                              </div>
                          </li>
                          <li>
                              <label>1 By 1</label>
                          </li>
                      </ul>
                      </div>
                 </div>
         	</div>
     	</div>
     </div>
</div>

   <div class="bottom-part small-12 columns">
		<div class="row">
			<div class="left-part small-12 medium-8 large-8 columns">
			<div class="table-box">
			<table>
				<thead>
					<tr>
						<th>Exchange</th>
						<th>Price</th>
						<th>Amount</th>
						<th>Total {{coinType1}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-show="coinType1 == '' || coinType2 == ''">
						<td colspan="4" class="text-center">Please select both coins to load current exchange rate.</td>
					</tr>
					<tr ng-repeat="ecns in exchCoinsTable" ng-show="(coinType1 != '' || coinType2 != '') && ecns.apicredsset">
						<td>{{ecns.exchange}}</td>
						<td>
							<p>
								<span ng-show="!loadingAvePrice" class="float-left exchange_rate_span_width">{{ecns.price | toFixed:8}}</span>
								<span ng-show="loadingAvePrice" class="float-left exchange_rate_span_width"><img src="../images/spinner.gif" /></span>
								<span style="width: 50px;"class="float-left">{{coinType2}}</span>
							</p>
						</td>
						<td>
							<p>
								<span ng-show="!showAmountInput[$index]" class="float-left exchange_rate_span_width">{{ecns.amount}}</span>
								<span ng-show="showAmountInput[$index]" class="float-left exchange_rate_span_width">
									<input type="number" ng-model="ecns.amount"/>
								</span>
								<span ng-show="!showAmountInput[$index]" class="change-amount float-left exchange_rate_span_width" ng-click="toggleAmoutInput($index);">
									<a href="#" ng-click="preventDefault($event);">Change amount</a>
								</span>
								<span ng-show="showAmountInput[$index]" class="change-amount float-left exchange_rate_span_width" ng-click="toggleAmoutInput($index);">
									<a href="#" ng-click="preventDefault($event);">Done <i class="fa fa-times"></i></a>
								</span>
							</p>
						</td>
						<td>{{(ecns.price != '' && ecns.price != null) ? ecns.price * ecns.amount : 0 | toFixed:8 }}</td>
					</tr>

				 </tbody>

				</table>
				</div>

		</div>

			 <div class="right-part small-12 medium-4 large-4 columns">
				<div class="bottom">
					<h4>Exchanges that offer {{coinType1}}/{{coinType2}} market Show? - Exchange - Balance</h4>
					<div class="table-box">
						<table>
							<tbody>
								<tr ng-show="coinType1 == '' || coinType2 == ''">
									<td colspan="4" class="text-center">Please select both coins to load current exchange rate.</td>
								</tr>
								<tr ng-repeat="exch in exchCoinsTable | orderBy: '-apicredsset'" ng-show="coinType1 != '' || coinType2 != ''">
									<td><input type="checkbox" value="" alt="" checked="checked" class="float-left"/> <span class="float-left">{{exch.exchange}} - </span> <span ng-show="exch.apicredsset" class="float-left"> {{exch.price}} {{coinType2}} </span>
										<a href="#" ng-click="goToOptionsAddCreds($event, exch.exchange)" ng-show="!exch.apicredsset" class="float-right">Add Api Key</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		 </div>
		 </div>

		<div class="row">
			<div class="bottom-area small-12 columns">
				<div class="convert-area">
					<ul class="convert-list">
						<li>
							<label>Convert</label>
              <select ng-options="convCoin as convCoin.labelCoinA for convCoin in convertCoins" ng-model="convert.coinA">
                  <option value="">---</option>
              </select>

						</li>

						<li>
							<label>into</label>
              <select ng-options="convCoin as convCoin.labelCoinB for convCoin in convertCoins" ng-model="convert.coinB" ng-change="convertCoinBChanged()">
                  <option value="">---</option>
              </select>

						</li>

						<li>
							<label>Stored at</label>
              <select ng-options="exch for exch in exchangeWithApiCreds" ng-model="convert.exchange">
                  <option value="">---</option>
              </select>

						</li>

						<li>
							<span class="convert-btn">
								<input ng-click="timerStart()" ng-disabled="timerOn" type="submit" value="Convert" alt="" />
							</span>
							<span class="convert-timer" ng-show="timerOn">{{timer}}</span>

						</li>
					</ul>

			  </div>
			</div>
		</div>

	</div>


  <div class="footer-frame small-12 columns">
  	<div class="footer">
      <h4>Order History</h4>
      <div class="table-box">
	      <table>
	      	<thead>
	            <tr>
				  <!-- <th>Exchange</th> -->
	              <th>Type</th>
	              <th>Ordernumber</th>
	              <th>Fee</th>
	              <th>Amount</th>
	              <th>Total</th>
	              <th>Rate</th>
				  <th>Action</th>
	            </tr>
	          </thead>
	          <tbody>
				<!-- Open Orders -->
				<!-- <caption class="text-left"><strong>Open Orders: </strong></caption> -->
				<tr class="text-left"><td colspan='7'><h5 class="orders-inner-header">Open Orders: </h5></td></tr>
	  			<tr ng-repeat-start='(exch,orders) in openOrders'>
	  				<td colspan='7'>
						<strong class="float-left">{{exch | firstUpper}} - </strong>
						<span ng-show="orders.length == 0" class="float-left orders-inner-error">No pending orders</span>
					</td>
					<!-- <td colspan='6'></td> -->
	  			</tr>
	  			<tr ng-repeat-end ng-repeat='ord in orders'>
					<!-- <td>{{exch | firstUpper}}</td> -->
	  				<td>{{ord.type}}</td>
	  				<td>{{ord.orderNumber}}</td>
	  				<td>{{ord.fee | number:8}}</td>
	  				<td>{{ord.amount | number:8}}</td>
	  				<td>{{ord.total | number:8}}</td>
	  				<td>{{ord.rate | number:8}}</td>
	  				<td>
	  					<a href="#" ng-click="preventDefault($event)">Cancel Order <i class="fa fa-times"></i></a>
	  				</td>
	  			</tr>

				<tr><td colspan='7'></td></tr>

				<!-- <caption class="text-left"><strong>Order History : </strong></caption> -->
				<tr class="text-left"><td colspan='7'><h5 class="orders-inner-header">Order History: </h5></td></tr>
			    <tr ng-repeat-start='(exch,order) in orderHistory'>
			      <td colspan='7'>
			   	   <strong class="float-left">{{exch | firstUpper}} - </strong>
			   	   <span ng-show="Object.getOwnPropertyNames(orderHistory[exch]).length == 0" class="float-left orders-inner-error">No history</span>
			      </td>
			      <!-- <td colspan='6'></td> -->
			    </tr>
			    <tr ng-repeat-end ng-repeat='(orderNum, orderDet) in order'>
			      <!-- <td>{{exch | firstUpper}}</td> -->
			      <td>{{orderDet.type}}</td>
			      <td>{{orderNum}}</td>
			      <td>{{orderDet.fee | number:8}}</td>
			      <td>{{orderDet.amount | number:8}}</td>
			      <td>{{orderDet.total | number:8}}</td>
			      <td>{{orderDet.rate | number:8}}</td>
				  <td></td>
			    </tr>
			 </tbody>
		 </table>
		 <!-- Trade Orders -->
		 <!-- <table>
			 <tbody>

	        </tbody>
	    </table> -->
        </div>
      </div>
  </div>
</div>




<script type="text/javascript" src="js/script.js"></script>
