<div ng-controller="CoinExchange1By1Controller">
		<div class="row">
			<div class="header small-12 columns">
				<h1>Coin Exchange</h1>
				<div class="row">
					<div class="top-part small-12 columns">
						<div class="row">
							<div class="left-part small-12 medium-8 large-8 columns">
								<label>Pairing</label>
								<select ng-options="coin as coin for coin in coinsValidExchanges | orderBy:'coin'" ng-model="coinType1" ng-change="coinsChanged()">
									<option value="">Select Coin</option>
								</select>
								<span class="seprator">/</span>
								
								<select ng-options="coin as coin for coin in coinsValidExchanges | orderBy:'coin'" ng-model="coinType2" ng-change="coinsChanged()">
									<option value="">Select Coin</option>
								</select>
								
								<span class="interchange-img">
									<a href="#" ng-click="exchangeCoinsTypes($event)">
											<i class="fa fa-exchange"></i>
									</a>
								</span>     
							</div>
							<div class="right-part small-12 medium-4 large-4 columns">
								<div class="top">
									<h2>View</h2>
									<ul class="combine-list">
										<li>
											<label>Combined</label>
										</li>
										<li>
											<div class="switch round">
												<input class="switch-input" id="switch" type="checkbox" name="switch" ng-model="combinedor1by1" ng-change="switchToCombinedOr1By1()">
												<label class="switch-paddle" for="switch">
													<span class="show-for-sr">View</span>
												</label>
											</div>
										</li>
										<li>
											<label>1 By 1</label>
										</li>
									</ul>
								</div>
							 </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="angular-box small-12 columns">
				<angular-accordion>
			<pane ng-repeat='exchange in exchangeWithApiCreds'>
				<pane-header>
					<span>{{exchange}}</span>
					<span ng-show="coinType1">{{coinType1}}: {{getBalance(exchange, coinType1)}}</span>
					<span ng-show="coinType2">{{coinType2}}: {{getBalance(exchange, coinType2)}}</span>
				</pane-header>
				<pane-content class="ce-accordion">
					<div class="row">
						<div class="left-box medium-6 columns">
							<div class="innr-box">
								<h4>Buy {{coinType2}} for {{coinType1}}</h4>
								<h5><strong>Balance:</strong> {{getBalance(exchange, coinType1)}} {{coinType1}}</h5>
								<form>
									<ul class="form-list">
										<li>
											<label>Quantity</label>
											<div class="input-group">
													<input type="text" name="" class="rem-value input-group-field" value="">
													<span class="input-group-label">{{coinType2}}</span>
											</div>
										</li>
										<li>
											<label>Bid</label>
											<div class="input-group">
													<input type="text" name="" class="rem-value input-group-field" value="">
													<span class="input-group-label">{{coinType1}}</span>
											</div>
										</li>
										<li>
											<label>Order Type</label>
											<div class="input-group">
												 <select>
															<option>Limit (default)</option>
													</select>
											</div>
										</li>
										<li>
											<label>Time in force</label>
											<div class="input-group">
												 <select>
															<option>None (default)</option>
													</select>
											</div>
										</li>
										<li>
											<label>Buy when price is</label>
											<select class="small">
													<option>Condition</option>
											</select>
											<div class="input-group small">
													<input type="text" name="" class="rem-value input-group-field" value="">
													<span class="input-group-label">{{coinType1}}</span>
											</div>
										</li>
										<li>
											<label>Total</label>
											<div class="input-group small left">
													<input type="text" name="" class="rem-value input-group-field" value="">
													<span class="input-group-label">{{coinType1}}</span>
											</div>
											<span class="buy-btn">
												<a href="#" ng-click="preventDefault($event)">Buy {{coinType2}}</a>
											</span>
										</li>
									</ul>
								</form>
							</div>
						</div>
						<div class="right-box medium-6 columns">
							<div class="innr-box">
								<h4>Sell {{coinType2}} for {{coinType1}}</h4>
								<h5><strong>Balance:</strong> {{getBalance(exchange, coinType2)}} {{coinType2}}</h5>
								<form>
									<ul class="form-list">
										<li>
											<label>Quantity</label>
											<div class="input-group">
													<input type="text" name="" class="rem-value input-group-field" value="">
													<span class="input-group-label">{{coinType2}}</span>
											</div>
										</li>
										<li>
											<label>Ask</label>
											<div class="input-group">
													<input type="text" name="" class="rem-value input-group-field" value="">
													<span class="input-group-label">{{coinType1}}</span>
											</div>
										</li>
										<li>
											<label>Order Type</label>
											<div class="input-group">
												 <select>
															<option>Limit (default)</option>
													</select>
											</div>
										</li>
										<li>
											<label>Time in force</label>
											<div class="input-group">
												 <select>
															<option>None (default)</option>
													</select>
											</div>
										</li>
										<li>
											<label>Total</label>
											<div class="input-group small left">
													<input type="text" name="" class="rem-value input-group-field" value="">
													<span class="input-group-label">{{coinType1}}</span>
											</div>
											<span class="buy-btn">
												<a href="#" ng-click="preventDefault($event)">Sell {{coinType2}}</a>
											</span>
										</li>
									</ul>
								</form>
							</div>
						</div>
					</div>
		
					<div class="row">
						<div class="left-box medium-6 columns">
							<div class="innr-box-01">
								<h4>Sell Orders</h4>
								<div class="table-box">
									<table>
										<thead>
											<tr>
												<th>Quantity {{coinType2}}</th>
												<th>Price in {{coinType1}}</th>
												<th>Total in {{coinType1}}</th>
											</tr>
										</thead>
										<tbody class="text-right">
											<tr ng-repeat="bid in orderbook[exchange].sellorders" class="text-right">
												<td>{{bid.volume | toFixed:8}}</td>
												<td>{{bid.price | toFixed:8}}</td>
												<td>{{bid.price * bid.volume | toFixed:8}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="right-box medium-6 columns">
							<div class="innr-box-01">
								<h4>Buy Orders</h4>
								<div class="table-box">
									<table>
										<thead>
											<tr>
												<th>Quantity {{coinType2}}</th>
												<th>Price in {{coinType1}}</th>
												<th>Total in {{coinType1}}</th>
											</tr>
										</thead>
										<tbody class="text-right">
											<tr ng-repeat="ask in orderbook[exchange].buyorders" class="text-right">
												<td>{{ask.volume | toFixed:8}}</td>
												<td>{{ask.price | toFixed:8}}</td>
												<td>{{ask.price * ask.volume | toFixed:8}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</pane-content>
			</pane>
			<!--<pane>
				<pane-header>
					<span>BTer</span>
					<span>CoinA: 10</span>
					<span>CoinB: 20</span>
				</pane-header>
				<pane-content class="ce-accordion">
						Content 2
				</pane-content>
			</pane>
			<pane>
				<pane-header>
					<span>Poloniex</span>
					<span>CoinA: 10</span>
					<span>CoinB: 20</span>
				</pane-header>
				<pane-content class="ce-accordion">
						Content 3
				</pane-content>
			</pane>
			<pane>
				<pane-header>
					<span>BTC38.com</span>
					<span>CoinA: 10</span>
					<span>CoinB: 20</span>
				</pane-header>
				<pane-content class="ce-accordion">
						Content 3
				</pane-content>
			</pane>
			<pane>
				<pane-header>
					<span>bitfinex</span>
					<span>CoinA: 10</span>
					<span>CoinB: 20</span>
				</pane-header>
				<pane-content class="ce-accordion">
						Content 3
				</pane-content>
			</pane>
			<pane>
				<pane-header>
					<span>MultiGate Way</span>
					<span>CoinA: 10</span>
					<span>CoinB: 20</span>
				</pane-header>
				<pane-content class="ce-accordion">
						Content 3
				</pane-content>
			</pane>-->
			
		</angular-accordion>
			</div>
		</div>
		
		<div class="footer-frame small-12 columns">
			<div class="footer">
				<h4>Order History</h4>
				<div class="table-box">
				<table>
					<thead>
						<tr>
							<th>Type</th>
							<th>Ordernumber</th>
							<th>Fee</th>
							<th>Amount</th>
							<th>Total</th>
							<th>rate</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat-start='(exch,order) in orderHistory'>
							<td colspan='6'>{{exch}}</td>
						</tr>
						<tr ng-repeat-end ng-repeat='(orderNum, orderDet) in order'>
							<td>{{orderDet.type}}</td>	
							<td>{{orderNum}}</td>	
							<td>{{orderDet.fee | number:8}}</td>	
							<td>{{orderDet.amount | number:8}}</td>	
							<td>{{orderDet.total | number:8}}</td>	
							<td>{{orderDet.rate | number:8}}</td>	
						</tr>
					</tbody>
				</table>
				</div>
			</div>
		</div>

</div>
