<div ng-controller="OptionsController">
    <div class="row">
        <div class="header small-12 columns">
            <h1>Option</h1>	
        </div>
    </div>
    
    <div class="row ">
    <div class="small-12 columns">
    <div class="header">
    
        
            <div class="left-part">
                <label class="left-label">Active ?</label>
                <label class="right-label">Exchanges</label>
                
                <ul class="left-buttons">
                	<li>
                    	<div class="small-12 medium-6 large-6">
                    	<input type="checkbox" value="" alt=""  checked="checked"/>
                        <span class="button-first"><a href="#" onclick="event.preventDefault();">Poloniex.com</a></span>
                        <span class="button-second"><a href="#" class="disabled" onclick="event.preventDefault();">Add Credentials</a></span>
                        </div>
                        
                        <div class="small-12 medium-6 large-6">
                        <div class="right-buttons">
                        	<span class="button-third"><a href="#" onclick="event.preventDefault();">Edit</a></span>
                            <span class="button-fourth"><a href="#" onclick="event.preventDefault();">Remove Credentials</a></span>	
                        </div>
                        </div>
                        
                    </li>
                    
                    <li>
                    	<div class="small-12 medium-6 large-6">
                    	<input type="checkbox" value="" alt="" checked="checked" disabled="disabled" />
                        <span class="button-first"><a href="#" onclick="event.preventDefault();">NXT AE</a></span>
                        <span class="button-second"><a href="#" class="disabled" onclick="event.preventDefault();">Add Credentials</a></span>
                        </div>
                        
                        <div class="small-12 medium-6 large-6">
                        <div class="right-buttons">
                        	<span class="button-third"><a href="#" onclick="event.preventDefault();">Edit</a></span>
                            <span class="button-fourth"><a href="#" class="disabled" onclick="event.preventDefault();">Remove Credentials</a></span>	
                        </div>
                        </div>
                        
                    </li>
                    
                    <li>
                    	<div class="small-12 medium-6 large-6">
                    	<input type="checkbox" value="" alt="" />
                        <span class="button-first"><a href="#" onclick="event.preventDefault();">Bittrex</a></span>
                        <span class="button-second"><a href="#" onclick="event.preventDefault();">Add Credentials</a></span>
                        </div>
                        
                        <div class="small-12 medium-6 large-6">
                        <div class="right-buttons">
                        	<span class="button-third"><a href="#" onclick="event.preventDefault();">Edit</a></span>
                            <span class="button-fourth"><a href="#" class="disabled" onclick="event.preventDefault();">Remove Credentials</a></span>	
                        </div>
                        </div>
                        
                    </li>
                    
                    <li>
                    	<div class="small-12 medium-6 large-6">
                    	<input type="checkbox" value="" alt="" checked="checked" />
                        <span class="button-first"><a href="#" onclick="event.preventDefault();">Exchange D</a></span>
                        <span class="button-second"><a href="#" class="disabled" onclick="event.preventDefault();">Add Credentials</a></span>
                        </div>
                        
                        <div class="small-12 medium-6 large-6">
                        <div class="right-buttons">
                        	<span class="button-third"><a href="#" onclick="event.preventDefault();">Edit</a></span>
                            <span class="button-fourth"><a href="#" onclick="event.preventDefault();">Remove Credentials</a></span>	
                        </div>
                        </div>
                        
                    </li>
                    
                    
                </ul> <br clear="all"/> <br />
    
                
                <div class="search-area">
                	<p>Add New Service</p>
                    <div class="search-zone">
                    	<input type="submit" value="" alt=""  />
                        <input type="text" value="" alt="" placeholder="Search" />
                    </div>
                </div>
            </div>
            <br clear="all" /><br /><br />
    <br />
    <br />
    <br />
    <br />
    
       <div class="small-12 medium-12 large-12">
       	<p class="note-text">Your credentials are stored in-browser, encrypted with your NXT wallet passphrase. (?)</p>
       
       </div> 
        
    </div>
    </div>
    </div>
</div>